<app-header></app-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Categories</ion-title>
    </ion-toolbar>
  </ion-header>

  @if (error) {
    <div class="error-message">
      {{ error }}
    </div>
  }

  <ion-list>
    @for (category of categories; track category.id) {
      <ion-item button (click)="onCategoryClick(category)">
        @if (category.icon) {
          <ion-icon slot="start" [src]="category.icon"></ion-icon>
        }
        <ion-label>
          <h2>{{ category.name }}</h2>
          @if (category.description) {
            <p>{{ category.description }}</p>
          }
        </ion-label>
      </ion-item>
    }
  </ion-list>

  @if (categories.length === 0 && !error) {
    <div class="no-categories">
      <p>No categories found.</p>
    </div>
  }
</ion-content>
