<ion-content [fullscreen]="true" class="login-content">
  <div class="login-container">
    <img src="/assets/images/login-people.png" alt="Profissionais" class="login-image" />
    
    <div class="login-form">
      <div class="form-fields">
        <ion-item>
          <ion-input label="Email:" placeholder="Enter your email" [(ngModel)]="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input type="password" label="Password:" placeholder="Enter your password" [(ngModel)]="password">
            <ion-input-password-toggle slot="end"></ion-input-password-toggle>
          </ion-input>
        </ion-item>
      </div>

      <div class="button-group">
        <ion-button expand="block" (click)="onLogin()" class="login-btn">
          LOGIN
        </ion-button>
        
        <ion-button expand="block" fill="outline" (click)="onRegister()" class="register-btn">
          REGISTER
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>